.item {
    width: 100%;
    height: 200px;
    background: #ffffff;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    padding: 10px 0;
}

.itemImage {
    width: 350px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.generalInfoBox {
    max-width: 400px;
    height: 180px;
    background-color: #fff;
    margin: 0 16px;
    border-radius: 10px;
    box-shadow: 1px 3px 12px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categoryBox {
    padding: 0 10px;
    font-size: 14px;
}

.category {
    padding: 5px 0px 5px 5px;
    margin: 0;
}

.titleBox {
    padding: 0 10px;
    font-size: 14px;
}

.title {
    padding: 5px 200px 5px 5px;
    margin: 0;
}

.descriptionBox {
    padding: 0 10px;
    font-size: 14px;
}

.description {
    margin: 0;
    padding: 5px 0px 5px 5px;
}

.currentInfoBox {
    max-width: 400px;
    height: 180px;
    background-color: #fff;
    margin: 0 16px;
    border-radius: 10px;
    box-shadow: 1px 3px 12px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dateBox {
    padding: 0 10px;
    font-size: 14px;
}

.date {
    padding: 5px 0px 5px 5px;
    margin: 0;
}

.locationBox {
    padding: 0 10px;
    font-size: 14px;
}

.location {
    padding: 5px 0px 5px 5px;
    margin: 0;
}

.floorAreaBox {
    padding: 0 10px;
    font-size: 14px;
}

.floorArea {
    padding: 5px 0px 5px 5px;
    margin: 0;
}

.clientBox {
    padding: 0 10px;
    font-size: 14px;
}

.client {
    padding: 5px 0px 5px 5px;
    margin: 0;
}

.architectsBox {
    padding: 0 10px;
    font-size: 14px;
}

.architects {
    padding: 5px 0px 5px 5px;
    margin: 0;
}

.btnBox {
    margin: 0 16px 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editBtn {
    width: 60px;
    height: 60px;
    padding: 5px;
    font-size: 24px;
    background-color: rgb(190, 190, 190);
    color: #000000;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.editBtn:hover {
    background-color: #fff;
    color: #FE7D05;
}

.deleteBtn {
    width: 60px;
    height: 60px;
    padding: 5px;
    font-size: 24px;
    background-color: rgb(218, 35, 35);
    color: #fff;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.deleteBtn:hover {
    background-color: #fff;
    color: rgb(218, 35, 35);
}