.homeWrapper{
    width: 100%;
    height: 100vh;
    background: #000
 }

.main {
    margin: 0;
    width: 100%;
}

.buttonsContainer {
    width: 490px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}

.plusButton {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 38px;
    background: #000;
    box-shadow: 0px 0px 40px 7px rgba(254, 125, 5, 0.40);
    cursor: pointer;
    transition: ease 0.5s;
}
.plusButton:hover{
    background-color: #fff;
}
.filesButton{
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 38px;
    background: #000;
    box-shadow: 0px 0px 40px 7px rgba(254, 125, 5, 0.40);
    cursor: pointer;
    transition: ease 0.5s;

}
.filesButton:hover{
    background-color: #fff;
}